@import '@radix-ui/colors/crimson.css';

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* 
.indigo {
  --indigo1: hsl(225, 60.0%, 99.4%);
  --indigo2: hsl(223, 100%, 98.6%);
  --indigo3: hsl(223, 98.4%, 97.1%);
  --indigo4: hsl(223, 92.9%, 95.0%);
  --indigo5: hsl(224, 87.1%, 92.0%);
  --indigo6: hsl(224, 81.9%, 87.8%);
  --indigo7: hsl(225, 77.4%, 82.1%);
  --indigo8: hsl(226, 75.4%, 74.5%);
  --indigo9: hsl(226, 70.0%, 55.5%);
  --indigo10: hsl(226, 58.6%, 51.3%);
  --indigo11: hsl(226, 55.0%, 45.0%);
  --indigo12: hsl(226, 62.0%, 17.0%);
}

.crimson {
  --crimson1: hsl(332, 100%, 99.4%);
  --crimson2: hsl(330, 100%, 98.4%);
  --crimson3: hsl(331, 85.6%, 96.6%);
  --crimson4: hsl(331, 78.1%, 94.2%);
  --crimson5: hsl(332, 72.1%, 91.1%);
  --crimson6: hsl(333, 67.0%, 86.7%);
  --crimson7: hsl(335, 63.5%, 80.4%);
  --crimson8: hsl(336, 62.3%, 72.9%);
  --crimson9: hsl(336, 80.0%, 57.8%);
  --crimson10: hsl(336, 73.7%, 53.5%);
  --crimson11: hsl(336, 75.0%, 47.2%);
  --crimson12: hsl(340, 65.0%, 14.5%);
} */